// TIPOGRAPHY
$font-basic: "Roboto", "Arial", sans-serif;
$font-size-basic: 18px;
$font-size-footer: 12px;
$font-size-heading: 41px;
$font-size-label: 16px;
$font-size-subheading: 22px;
$font-size-tablet: 14px;
$font-size-bold-tbl: 46px;
$font-size-bold-mob: 38px;

// COLORS: BACKGROUND
$bg-basic: #ffffff;
$bg-light: #f6f7ff;
$bg-dark: #2c36f2;
$bg-slide-2-left: #dde2ec;
$bg-slide-2-right: #f3faff;
$bg-slide-3: #e6f1fe;
$bg-bullet: #2028b6;
$bg-bullet-light: #e0e0e0;
$bg-icon: #565ef5;
$bg-popup: rgba(#000000, 0.5);

$slide-2-gradient: linear-gradient(to right, $bg-slide-2-left 0 50%, $bg-slide-2-right 50% 100%);

// COLORS: BORDERS
$clr-border-header: #c1c2ca;
$clr-border-form: #c4c4c4;
$clr-border-input: #0a1e32;

// COLORS: TEXT
$text-clr-basic: #1f1e25;
$text-clr-input: #000000;
$text-clr-footer: #707c87;
$text-clr-light: #e0e1ea;
$text-clr-slider: #2b3c4f;
$text-clr-tabs: #4c4b51;
$text-clr-label: #394959;
$text-clr-error: #ff0000;

// LAYOUT SIZES
$width-basic: 1170px;
$tablet-width: 1023px;
$mobile-width: 767px;
