.credit-form {
  color: $text-clr-basic;

  background-color: $bg-basic;

  h2 {
    margin: 0;
    margin-bottom: 50px;

    font-size: $font-size-heading;
    font-weight: 700;
    line-height: 1.4;
  }
}

.credit-form__wrapper {
  @include container();
}

.credit-form__container {
  display: flex;
  justify-content: space-between;
}

.credit-form__parameters {
  width: 51.3%;
  margin-bottom: 32px;
}

.credit-form__offer {
  width: 42.7%;
  min-width: 430px;
  margin-top: 6px;
}

.credit-form__step {
  margin-bottom: 34px;

  h3 {
    margin: 0;
    margin-bottom: 16px;

    font-size: $font-size-subheading;
    font-weight: 500;
    line-height: 1.4;
  }
}

@media (max-width: $tablet-width) {
  .credit-form h2 {
    margin-bottom: 29px;
    font-size: $font-size-label * 2;
  }

  .credit-form__step {
    margin-bottom: 34px;

    h3 {
      margin-bottom: 12px;
      font-size: $font-size-basic;
    }
  }

  .credit-form__container {
    display: block;
    width: 100%;
  }

  .credit-form__parameters {
    width: 100%;
  }

  .credit-form__offer {
    width: 100%;
    margin-top: 39px;
  }
}

@media (max-width: $mobile-width) {
  .credit-form h2 {
    margin-bottom: 24px;
    font-size: $font-size-subheading;
  }

  .credit-form__offer {
    min-width: auto;
    margin-top: 28px;
  }

  .credit-form__parameters {
    margin-bottom: 28px;
  }

  .credit-form__step {
    margin-bottom: 25px;

    h3 {
      margin-bottom: 8px;
      font-size: $font-size-label;
    }
  }
}
