.social__list {
  @include list-reset();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 12px;
}

.social__link {
  color: $text-clr-basic;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .social__list {
    justify-content: flex-start;
  }

  .social__item {
    margin-right: 20px;
  }
}
