.social__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 12px;
}

.social__item {
  margin-right: 15px;
  margin-bottom: 15px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.social__link {
  color: $text-clr-basic;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .social__list {
    justify-content: flex-start;
  }

  .social__item, .social__item:nth-child(4n) {
    margin-right: 20px;
  }
}
