body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  @include basic-text();

  background-color: $bg-basic;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
