// TIPOGRAPHY
$font-basic: "Roboto", "Arial", sans-serif;
$font-size-basic: 18px;
$font-size-footer: 12px;
$font-size-heading: 41px;
$font-size-label: 16px;
$font-size-subheading: 22px;
$font-size-tablet: 14px;

// COLORS: BACKGROUND
$bg-basic: #ffffff;
$bg-light: #f6f7ff;
$bg-dark: #2c36f2;

// COLORS: BORDERS
$clr-border-header: #c1c2ca;

// COLORS: TEXT
$text-clr-basic: #1f1e25;
$text-clr-input: #000000;
$text-clr-footer: #707c87;
$text-clr-light: #e0e1ea;

// LAYOUT SIZES
$width-basic: 1170px;
$tablet-width: 1023px;
$mobile-width: 767px;
