.slide {
  background-position: center bottom;
  background-size: 1366px 400px, 100%;
  background-repeat: no-repeat;

  h3 {
    max-width: 70%;
    margin: 0;
    margin-bottom: 6px;

    font-size: $font-size-basic * 3;
    line-height: normal;
    font-weight: bold;
  }

  p {
    max-width: 50%;
    margin: 0;
    margin-bottom: 33px;

    font-size: $font-size-subheading;
    line-height: normal;
    font-weight: normal;
    color: $text-clr-light;
  }

  .slide__button {
    width: max-content;

    font-size: $font-size-basic;
    line-height: normal;
    font-weight: 500;
  }

  &--dark {
    h3 {
      color: $bg-light
    }

    p {
      color: $text-clr-light;
    }

    .slide__button {
      padding: 15px 36px 16px;
      color: $text-clr-basic;
      background-color: $bg-light;
    }
  }

  &--light {
    h3 {
      color: $text-clr-basic;
    }

    p {
      color: $text-clr-slider;
    }

    .slide__button {
      padding: 15px 48px 16px;
      color: $bg-light;
      background-color: $bg-dark;
    }
  }

  &--1 {
    background-color: $bg-dark;
    background-image: url("../img/cards.jpg");

    @media (min-resolution: 2dppx) {
    background-image: url("../img/cards@2x.jpg");
    }
  }

  &--2 {
    background-image: url("../img/slide-2.jpg"), $slide-2-gradient;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slide-2@2x.jpg"), $slide-2-gradient;
      }
  }

  &--3 {
    background-color: $bg-slide-3;
    background-image: url("../img/slide-3.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/slide-3@2x.jpg");
      }
  }
}

.slide__wrapper {
  @include container();

  padding: 103px 268px;
}

@media (max-width: $tablet-width) {
  .slide {
    background-size: 768px 300px, 100%;

    &--1 {
      background-position: 50% bottom;
      background-image: url("../img/cards-tablet.jpg");

      @media (min-resolution: 2dppx) {
      background-image: url("../img/cards-tablet@2x.jpg");
      }

      .slide__button {
        padding: 18px 31px;
      }
    }

    &--2 {
      background-image: url("../img/slide-2-tablet.jpg"),
      $slide-2-gradient;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/slide-2-tablet@2x.jpg"),
        $slide-2-gradient;
      }
    }

    &--3 {
      background-image: url("../img/slide-3-tablet.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/slide-3-tablet@2x.jpg");
      }

      .slide__button {
        padding: 18px 31px;
      }
    }

    h3 {
      margin-bottom: 4px;
      font-size: $font-size-bold-tbl;
    }

    p {
      margin-bottom: 29px;
      font-size: $font-size-basic;
    }

    .slide__button {
      padding: 15px 31px 14px;
      font-size: $font-size-label;
    }
  }

  .slide__wrapper {
    padding: 65px 11.2%;
  }
}

@media (max-width: $mobile-width) {
  .slide {
    background-size: 578px 226px, 100%;
    background-position: calc(50% + 50px);

    h3 {
      font-size: $font-size-bold-mob;
    }

    p {
      margin-bottom: 26px;
      font-size: $font-size-label;
    }

    .slide__button {
      font-size: $font-size-tablet;
    }

    &--1 {
      background-position: calc(50% + 105px) bottom;

      p {
        max-width: 70%;
      }

      .slide__button {
        padding: 13px 31px;
      }
    }
    &--2 {
      background-position: calc(50% - 40px) bottom, center center;
    }

    &--3 {
      background-position: calc(50% - 60px) bottom;

      .slide__button {
        padding: 13px 37px;
      }
    }
  }
    .slide__wrapper {
    padding: 40px 4.7% 48px;
  }
}
