.main-header {
  position: relative;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 17px;
  z-index: 1;

  font-size: $font-size-label;

  background-color: $bg-light;
}

.main-header__wrapper {
  @include container();

  display: flex;
  align-items: center;
}

.main-header__logo {
  margin-right: 110px;
  margin-bottom: 15px;
}

.main-header__container {
  flex-grow: 1;
  display: flex;
}
.main-header__user-nav {
  @include list-reset();
  width: 210px;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.main-header__button {
  display: none;
}

@media (max-width: $tablet-width) {
  .main-header {
    padding-top: 24px;
    padding-bottom: 9px;
    font-size: $font-size-tablet;
  }

  .main-header__logo {
    margin-right: 66px;
  }

  .main-header__user-nav {
    width: 50px;
    margin-left: auto;
    margin-top: 0;

    font-size: 0;
  }
}

@media (max-width: $mobile-width) {
  .main-header {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: $font-size-label;
  }

  .main-header__wrapper {
    position: relative;
  }

  .main-header__logo {
    width: 115px;
    margin-left: 45px;
    margin-right: auto;
  }

  .main-header__button {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    padding: 0;

    font-size: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--open {
      top: 0;
      left: 5%;

      background-image: url('../img/menu.svg');
      background-size: 100%;
      background-position: 0 4px;
    }

    &--close {
      top: 0;
      right: 5%;

      background-image: url('../img/cross.svg');
      background-size: 13px 13px;
      background-position: 1px 1px;
    }
  }

  .main-header--close {
    .main-header__nav {
      display: none;
    }

    .main-header__button--close {
      display: none;
    }

    .main-header__user-nav {
      width: 20px;
    }


  }

  .main-header--open {
    .main-header__wrapper {
      position: relative;

      flex-direction: column;
      align-items: flex-start;
    }

    .main-header__logo {
      margin-bottom: 20px;
    }

    .main-header__container {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 20px 5%;
      z-index: 1;
      flex-direction: column;
      background-color: $bg-light;
    }

    .main-header__user-nav {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 5px;
      margin-left: 0;

      font-size: inherit;
    }

    .user-nav__icon {
      width: 20px;
      margin-right: 10px;
    }
  }
}
