.user-nav__link {
  display: flex;
  justify-content: flex-end;

  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.user-nav__icon {
  width: 21px;
  height: 23px;
  padding-bottom: 3px;
  margin-right: 10px;
}

@media (max-width: $tablet-width) {
  .user-nav__label {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .user-nav__icon {
    width: 15px;
    margin-right: 0;
  }

  .user-nav__link {
    justify-content: flex-start;
  }

  .user-nav__label {
    display: inline;
  }
}
