.credit-form {
  color: $text-clr-basic;

  background-color: $bg-basic;
}

.credit-form__wrapper {
  @include container();
}

.credit-form__title {
  margin-bottom: 56px;

  font-size: $font-size-heading;
  font-weight: 700;
  line-height: 1.4;
}

.credit-form__container {
  display: flex;
  justify-content: space-between;
}

.credit-form__parameters {
  width: 51.3%;
}

.credit-form__offer {
  width: 42.7%;
  min-width: 430px;
  margin-top: 30px;
}

.credit-form__step {
  margin-bottom: 32px;
}

@media (max-width: $tablet-width) {
  .credit-form__title {
    margin-bottom: 34px;
    font-size: $font-size-label * 2;
  }

  .credit-form__step {
    margin-bottom: 34px;
  }

  .credit-form__container {
    display: block;
    width: 100%;
  }

  .credit-form__parameters,
  .credit-form__offer {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .credit-form__title {
    margin-bottom: 28px;
    font-size: $font-size-subheading;
  }

  .credit-form__offer {
    min-width: auto;
  }
}
