.step {
  width: 100%;
}

.step__title {
  margin-bottom: 16px;

  font-size: $font-size-subheading;
  font-weight: 500;
  line-height: 1.4;
}

.step__form {
  width: 100%;
}

@media (max-width: $tablet-width) {
  .step {
    width: 100%;
  }

  .step__title {
    margin-bottom: 20px;
    font-size: $font-size-basic;
  }
}

@media (max-width: $mobile-width) {
  .step__title {
    margin-bottom: 15px;
    font-size: $font-size-label;
  }
}
