.request-form {
  width: 770px;
  margin: 0 auto 96px;
  padding: 64px 70px 70px;

  text-align: center;
  background-color: $bg-light;

  .request-form__button {
    min-width: 198px;
    @include dark-button();

    margin: 10px auto 0;
  }

  &--shake {
    animation: shake 0.6s;
  }

  h3 {
    margin-bottom: 13px;
  }
}

.request-form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 12px;

  border-bottom: 1px solid $clr-border-form;

  label {
    font-size: $font-size-label;
    line-height: 1.4;
    color: $text-clr-label;
  }

  input {
    padding: 0;

    font: inherit;
    font-size: $font-size-subheading;
    line-height: 1.4;
    font-weight: 500;
    color: $text-clr-basic;
    text-align: right;

    background-color: transparent;
    border: none;
    cursor: default;

    &:focus {
      outline: none;
    }
  }
}

.request-form__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 29px;
}

.request-form__field {
  margin-bottom: 30px;
  &--user {
    width: 100%;
  }

  &--contact {
    width: 300px;
  }

  input {
    width: 100%;
    padding: 18px 24px 15px;

    font: inherit;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: $text-clr-basic;

    background-color: transparent;
    border: 1px solid $clr-border-input;
    border-radius: 4px;

    &::placeholder {
      color: $text-clr-footer;
    }
  }
}

@media (max-width: $tablet-width) {
  .request-form {
    width: 100%;
    padding: 55px 0 35px;
    margin-bottom: 0;

    text-align: center;

    background-color: $bg-basic;

    h3 {
      margin-bottom: 26px;
    }

    .request-form__button {
      width: 100%;
      margin-top: 11px;
      padding: 14px 30px 15px;
    }
  }

  .request-form__field--contact {
    width: 47.8%;
  }
}

@media (max-width: $mobile-width) {
  .request-form {
    padding: 0;
    margin-bottom: 54px;

    h3 {
      margin-bottom: 18px;
    }

    .request-form__button {
      padding: 17px 30px 15px;
    }
  }

  .request-form__item {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 14px 0;

    input {
      font-size: $font-size-basic;
      text-align: left;
    }
  }

  .request-form__field {
    margin-bottom: 20px;
    &--contact {
      width: 100%;
    }
    input {
      padding: 19px 15px 17px;

      font-size: $font-size-label;
    }
  }
}
